[submodule "public"]
	path = public
	url = git@github.com:oliviaweng/oliviaweng.github.io.git
	branch = master
[submodule "themes/academicmfwebsite"]
	path = themes/academicmfwebsite
	url = git@github.com:oliviaweng/hugo-theme-motherfuckingwebsite.git
